<div id="content">
  <div class="welcome">Welcome! It's my first Ruby application!</div>
  <div class="links">
  	<div class="links-title">Please, select page:</div>
    <div class="reg_link"> - <a href="/users/new">Create New User</a></div>
    <div class="view_link"> - <a href="/users">Show Users</a></div>
  </div>
</div>