<div id="content">
  <div class="welcome">Welcome! It's my first Ruby application!</div>
  <div class="links">
    <a class="reg_link" href="/users/new">Add new user</a>
    <a class="view_link" href="/users">Show users</a>
  </div>
</div>