<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<div class="button">
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
<div class="button">
  <%= link_to 'Back', new_user_path %>
</div>